* {
  overflow: hidden;
}

.co {
  margin: 0;
}

#image {
  width: 50vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#head {
  display: block;
  margin: auto;
  text-align: center;
  height: 100px;
  width: 30rem;
  line-height: 100px;
  font-weight: 400;
  background: rgb(249, 177, 119);
  background: radial-gradient(circle, rgba(249, 177, 119, 1) 0%, rgb(241, 241, 141) 97%);
  border-radius: 108px;
  color: dimgray;
}

.form-group {
  margin: 1.1rem;
}

.form-group label {
  font-weight: 600;
  color: #444444;
}

.form-group button {
  border: none;
  border-radius: .5rem;
  color: #323232;
  background-color: #ffb700d9;
  padding: 0.5rem 1.7rem 0.5rem 1.7rem;
  transition: all ease 300ms;
}

.form-group button:hover {
  color: rgba(0, 0, 0, 0.72);
  background-color: rgba(255, 153, 0, 0.85);
  border-radius: 1rem;
  font-size: 1.11rem;
}

.form-control {
  margin-top: .5rem;
}



