<div [class.d-none]="!loading" id="loading">
  <div *ngIf="loading" class="spinner-border text-warning m-5" id="loading-spinner" role="status">
    <span class="sr-only"></span>
  </div>
</div>
<div [class.d-none]="loading" class="wall">
  <div class="container text-center">
    <button class="btn  btn-color my-5" routerLink="create-pet">Create your Pet Catalog</button>
    <h3 id="head">Here Is Your Pet Catalog</h3>
    <!--Pet Catalog-->
    <!-- Search box   -->
    <div class="input-group mb-5" id="search-group">
      <input #s (keyup)="search(s.value)" aria-describedby="search-button" aria-label="Search" id="search-input"
             placeholder="   Search"
             type="text">
      <button class="btn btn-warning" id="search-button" type="button">Search</button>
    </div>
    <!-- Cards   -->
    <div class="row">
      <div *ngFor="let p of FPetCatalog; let i =index" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{p.name}}</h5>
            <img alt="" id="card-image" src="assets/petlogo.png">
            <p class="card-text">{{p.id}}</p>
            <p class="card-text">{{p.status}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
